.stars-background {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
}

#stars {
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden; /* or overflow:auto; if you want scrollbars */
    background: radial-gradient(#1b2735 0%, #090a0f 0%);
}

#stars1 {
    width: 1.2px;
    height: 1.2px;
    background: transparent;
    box-shadow: 1783px -1247px #fff, 1414px 1453px #fff, 1495px 634px #fff,
        1491px 534px #fff, -1261px 267px #fff, -1707px 180px #fff,
        152px 1693px #fff, -1540px 1857px #fff, -36px 1156px #fff,
        1189px 1065px #fff, 1938px 1508px #fff, 1421px 1675px #fff,
        -837px 1514px #fff, -1144px 800px #fff, -1593px 1333px #fff,
        106px 224px #fff, -994px 942px #fff, -1378px 790px #fff,
        -810px 323px #fff, -1465px 1066px #fff, -1442px 653px #fff,
        -1151px 1627px #fff, -644px 1072px #fff, -1432px 1232px #fff,
        -468px 1764px #fff, 457px 1062px #fff, -839px 783px #fff,
        -283px 761px #fff, 1525px 1128px #fff, 37px 1188px #fff,
        1093px 413px #fff, -902px 500px #fff, 1676px 1257px #fff,
        153px 1691px #fff, -36px 1940px #fff, -95px 1510px #fff,
        -45px 586px #fff, -506px 811px #fff, -825px 1985px #fff,
        -482px 1613px #fff, -1440px 1012px #fff, -1317px 766px #fff,
        -1113px 1361px #fff, 888px 1207px #fff, 1099px 837px #fff,
        -1595px 1898px #fff, 539px 1494px #fff, 1124px 1055px #fff,
        1905px 12px #fff, 1255px 1219px #fff, 1775px 854px #fff,
        1999px 361px #fff, 1118px 763px #fff, 1496px 1491px #fff,
        -362px 161px #fff, -538px 1140px #fff, 1950px 1536px #fff,
        36px 1937px #fff, -513px 1088px #fff, -1576px 394px #fff,
        1722px 1379px #fff, -980px 148px #fff, 18px 318px #fff,
        -821px 1893px #fff, 215px 481px #fff, 1197px 424px #fff,
        -573px 1646px #fff, 1097px 1324px #fff, 1486px 1515px #fff,
        -1533px 138px #fff, -815px 164px #fff, 1251px 1552px #fff,
        -1206px 1309px #fff, 777px 1283px #fff, 263px 1779px #fff,
        -1387px 510px #fff, -1191px 780px #fff, 12px 1079px #fff,
        995px 1470px #fff, 181px 85px #fff, -1144px 52px #fff,
        -997px 1600px #fff, 1384px 1299px #fff, 1300px 1856px #fff,
        -428px 1796px #fff, -469px 1497px #fff, -311px 1625px #fff,
        -1612px 1585px #fff, -1787px 1774px #fff, 131px 1208px #fff,
        600px 278px #fff, -477px 1883px #fff, 1039px 1809px #fff,
        -1612px 1457px #fff, -338px 266px #fff, -1839px 884px #fff,
        -1232px 479px #fff, -1052px 1338px #fff, 1185px 1799px #fff,
        -681px 61px #fff, -846px 1630px #fff, -1794px 7px #fff,
        1432px 902px #fff, -1777px 1549px #fff, -872px 224px #fff,
        -521px 1498px #fff, 1894px 1861px #fff, 1069px 269px #fff,
        1626px 14px #fff, 1582px 1189px #fff, -438px 47px #fff,
        1105px 1934px #fff, -660px 221px #fff, -1968px 978px #fff,
        -371px 1212px #fff, -1489px 795px #fff, 1377px 1810px #fff,
        -1194px 1249px #fff, -1740px 1748px #fff, -182px 15px #fff,
        -1070px 1693px #fff, 1289px 847px #fff, 1618px 1458px #fff,
        -1122px 1508px #fff, -1720px 1184px #fff, 1480px 1644px #fff,
        1734px 1441px #fff, 1083px 1310px #fff, 259px 1883px #fff,
        848px 1907px #fff, -1918px 1599px #fff, 1420px 1509px #fff,
        -1359px 1993px #fff, -892px 1665px #fff, 1537px 382px #fff,
        -1986px 512px #fff, 638px 324px #fff, -223px 1852px #fff,
        -308px 1328px #fff, 580px 378px #fff, -1453px 300px #fff,
        1254px 381px #fff, 723px 1851px #fff, 501px 1916px #fff,
        -1658px 1880px #fff, 860px 117px #fff, 765px 280px #fff,
        1480px 1321px #fff, 1450px 1620px #fff, 818px 606px #fff,
        274px 1696px #fff, 1687px 482px #fff, -675px 79px #fff,
        1374px 773px #fff, 417px 393px #fff, -1500px 866px #fff,
        -1903px 22px #fff, 1450px 848px #fff, -115px 613px #fff,
        -59px 905px #fff, 116px 1790px #fff, -474px 1803px #fff,
        -1289px 910px #fff, -1235px 427px #fff, 707px 1882px #fff,
        -397px 1144px #fff, 523px 1943px #fff, -830px 1536px #fff,
        -1364px 107px #fff, -745px 155px #fff, -1851px 686px #fff,
        -698px 1336px #fff, 226px 1092px #fff, 1600px 187px #fff,
        -1265px 1983px #fff, -1422px 795px #fff, -1294px 802px #fff,
        1497px 1524px #fff, -59px 834px #fff, 1671px 1970px #fff,
        1932px 93px #fff, 235px 236px #fff, 1122px 992px #fff,
        -575px 1709px #fff, -328px 462px #fff, -1892px 1269px #fff,
        1855px 1894px #fff, -865px 1052px #fff, 1771px 1247px #fff,
        -1977px 1244px #fff, 1546px 1819px #fff, 1500px 1769px #fff,
        -1620px 357px #fff, -328px 408px #fff, -1439px 907px #fff,
        637px 850px #fff, -1424px 413px #fff, 413px 862px #fff,
        -1399px 747px #fff, 758px 199px #fff, 1495px 1733px #fff,
        -278px 379px #fff, -1975px 1385px #fff, 1417px 1872px #fff,
        1437px 454px #fff, -66px 1098px #fff, -497px 834px #fff,
        -1604px 569px #fff, -991px 269px #fff, 568px 1092px #fff,
        -1755px 1631px #fff, 242px 1607px #fff, -1227px 1092px #fff,
        -1386px 662px #fff, 733px 1036px #fff, -118px 1117px #fff,
        1776px 1583px #fff, 107px 80px #fff, -1038px 1881px #fff,
        -622px 1940px #fff, -1544px 688px #fff, -1423px 881px #fff,
        -63px 571px #fff, -1956px 1608px #fff, 1083px 1506px #fff,
        -1676px 405px #fff, -552px 1279px #fff, -181px 143px #fff,
        -1101px 255px #fff, -1009px 1442px #fff, 1375px 1827px #fff,
        -1909px 1098px #fff, -1762px 1980px #fff, 63px 526px #fff,
        677px 1857px #fff, -1892px 1847px #fff, -898px 274px #fff,
        1454px 1556px #fff, -336px 1870px #fff, 1861px 1532px #fff,
        -1000px 74px #fff, -1867px 930px #fff, -830px 1949px #fff,
        -363px 739px #fff, 1230px 1572px #fff, -1682px 811px #fff,
        528px 202px #fff, 1649px 1050px #fff, -120px 337px #fff,
        -1550px 1164px #fff, 1315px 1097px #fff, -798px 742px #fff,
        -858px 201px #fff, -114px 958px #fff, 1962px 1170px #fff,
        1020px 1564px #fff, 1602px 1934px #fff, 1648px 186px #fff,
        663px 881px #fff, 1232px 388px #fff, 1803px 85px #fff, 623px 954px #fff,
        1072px 1721px #fff, 1340px 1315px #fff, 129px 594px #fff,
        969px 317px #fff, 1427px 574px #fff, -924px 55px #fff,
        -1143px 1718px #fff, -424px 885px #fff, 425px 1469px #fff,
        722px 1301px #fff, -1933px 429px #fff, -280px 1265px #fff,
        1648px 1695px #fff, -1955px 1230px #fff, -1550px 554px #fff,
        -459px 730px #fff, -251px 1769px #fff, 1640px 759px #fff,
        -471px 1295px #fff, 476px 1038px #fff, -707px 1631px #fff,
        -850px 80px #fff, -1473px 858px #fff, -771px 251px #fff,
        815px 1695px #fff, 311px 460px #fff, -722px 1277px #fff,
        -564px 1594px #fff, -1290px 1807px #fff, -1445px 1797px #fff,
        163px 244px #fff, 1248px 1904px #fff, 956px 83px #fff, 696px 758px #fff,
        -1600px 259px #fff, 789px 536px #fff, -1575px 1227px #fff,
        -188px 192px #fff, -971px 13px #fff, 380px 1199px #fff,
        1733px 460px #fff, -997px 578px #fff, 1639px 1305px #fff,
        1128px 1831px #fff, -8px 1009px #fff, 701px 782px #fff,
        1521px 1160px #fff, -1695px 1799px #fff, 1465px 108px #fff,
        1530px 1207px #fff, -72px 639px #fff, -1090px 1177px #fff,
        -431px 1473px #fff, -695px 1002px #fff, -813px 1099px #fff,
        -550px 1500px #fff, -1178px 717px #fff, -686px 1042px #fff,
        -581px 508px #fff, -1645px 1710px #fff, 1489px 420px #fff,
        -506px 1773px #fff, 818px 1449px #fff, 316px 149px #fff,
        -1997px 1064px #fff, -1032px 730px #fff, -1844px 1169px #fff,
        -1331px 164px #fff, -1545px 741px #fff, 794px 300px #fff,
        -395px 420px #fff, 1760px 538px #fff, -451px 731px #fff,
        1810px 1867px #fff, -1970px 930px #fff, -175px 1179px #fff,
        -1299px 87px #fff, -1984px 1692px #fff, -97px 603px #fff,
        -775px 933px #fff, 6px 559px #fff, 1635px 946px #fff, 1518px 368px #fff,
        -581px 1108px #fff, -1040px 227px #fff, -1181px 424px #fff,
        1868px 756px #fff, -1814px 604px #fff, -70px 1668px #fff,
        -1648px 761px #fff, -1879px 1367px #fff, -1868px 1807px #fff,
        -1062px 684px #fff, 1687px 1356px #fff, -1967px 552px #fff,
        1010px 677px #fff, 294px 250px #fff, -1988px 1157px #fff,
        838px 666px #fff, -1644px 155px #fff, 307px 83px #fff,
        1238px 1811px #fff, -696px 1203px #fff, 1488px 1682px #fff,
        -1599px 1901px #fff, 542px 659px #fff, 1312px 817px #fff,
        -531px 1013px #fff, -1747px 1582px #fff, -131px 1121px #fff,
        286px 1286px #fff, -539px 1249px #fff, -1429px 1406px #fff,
        -1414px 164px #fff, -648px 103px #fff, -832px 852px #fff,
        1464px 322px #fff, 227px 1387px #fff, -1456px 326px #fff,
        -1018px 638px #fff, 1520px 1341px #fff, 816px 1209px #fff,
        -126px 255px #fff, -648px 1405px #fff, 298px 1802px #fff,
        1491px 14px #fff, 650px 471px #fff, 196px 1668px #fff, 660px 1978px #fff,
        -1564px 987px #fff, 1012px 1413px #fff, -1539px 389px #fff,
        284px 1423px #fff, 1701px 134px #fff, -720px 1654px #fff,
        1218px 1632px #fff, 1339px 870px #fff, 1500px 819px #fff;
    animation: animStar 75s linear infinite;
}
#stars1:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1.2px;
    height: 1.2px;
    background: transparent;
    box-shadow: 1783px -1247px #fff, 1414px 1453px #fff, 1495px 634px #fff,
        1491px 534px #fff, -1261px 267px #fff, -1707px 180px #fff,
        152px 1693px #fff, -1540px 1857px #fff, -36px 1156px #fff,
        1189px 1065px #fff, 1938px 1508px #fff, 1421px 1675px #fff,
        -837px 1514px #fff, -1144px 800px #fff, -1593px 1333px #fff,
        106px 224px #fff, -994px 942px #fff, -1378px 790px #fff,
        -810px 323px #fff, -1465px 1066px #fff, -1442px 653px #fff,
        -1151px 1627px #fff, -644px 1072px #fff, -1432px 1232px #fff,
        -468px 1764px #fff, 457px 1062px #fff, -839px 783px #fff,
        -283px 761px #fff, 1525px 1128px #fff, 37px 1188px #fff,
        1093px 413px #fff, -902px 500px #fff, 1676px 1257px #fff,
        153px 1691px #fff, -36px 1940px #fff, -95px 1510px #fff,
        -45px 586px #fff, -506px 811px #fff, -825px 1985px #fff,
        -482px 1613px #fff, -1440px 1012px #fff, -1317px 766px #fff,
        -1113px 1361px #fff, 888px 1207px #fff, 1099px 837px #fff,
        -1595px 1898px #fff, 539px 1494px #fff, 1124px 1055px #fff,
        1905px 12px #fff, 1255px 1219px #fff, 1775px 854px #fff,
        1999px 361px #fff, 1118px 763px #fff, 1496px 1491px #fff,
        -362px 161px #fff, -538px 1140px #fff, 1950px 1536px #fff,
        36px 1937px #fff, -513px 1088px #fff, -1576px 394px #fff,
        1722px 1379px #fff, -980px 148px #fff, 18px 318px #fff,
        -821px 1893px #fff, 215px 481px #fff, 1197px 424px #fff,
        -573px 1646px #fff, 1097px 1324px #fff, 1486px 1515px #fff,
        -1533px 138px #fff, -815px 164px #fff, 1251px 1552px #fff,
        -1206px 1309px #fff, 777px 1283px #fff, 263px 1779px #fff,
        -1387px 510px #fff, -1191px 780px #fff, 12px 1079px #fff,
        995px 1470px #fff, 181px 85px #fff, -1144px 52px #fff,
        -997px 1600px #fff, 1384px 1299px #fff, 1300px 1856px #fff,
        -428px 1796px #fff, -469px 1497px #fff, -311px 1625px #fff,
        -1612px 1585px #fff, -1787px 1774px #fff, 131px 1208px #fff,
        600px 278px #fff, -477px 1883px #fff, 1039px 1809px #fff,
        -1612px 1457px #fff, -338px 266px #fff, -1839px 884px #fff,
        -1232px 479px #fff, -1052px 1338px #fff, 1185px 1799px #fff,
        -681px 61px #fff, -846px 1630px #fff, -1794px 7px #fff,
        1432px 902px #fff, -1777px 1549px #fff, -872px 224px #fff,
        -521px 1498px #fff, 1894px 1861px #fff, 1069px 269px #fff,
        1626px 14px #fff, 1582px 1189px #fff, -438px 47px #fff,
        1105px 1934px #fff, -660px 221px #fff, -1968px 978px #fff,
        -371px 1212px #fff, -1489px 795px #fff, 1377px 1810px #fff,
        -1194px 1249px #fff, -1740px 1748px #fff, -182px 15px #fff,
        -1070px 1693px #fff, 1289px 847px #fff, 1618px 1458px #fff,
        -1122px 1508px #fff, -1720px 1184px #fff, 1480px 1644px #fff,
        1734px 1441px #fff, 1083px 1310px #fff, 259px 1883px #fff,
        848px 1907px #fff, -1918px 1599px #fff, 1420px 1509px #fff,
        -1359px 1993px #fff, -892px 1665px #fff, 1537px 382px #fff,
        -1986px 512px #fff, 638px 324px #fff, -223px 1852px #fff,
        -308px 1328px #fff, 580px 378px #fff, -1453px 300px #fff,
        1254px 381px #fff, 723px 1851px #fff, 501px 1916px #fff,
        -1658px 1880px #fff, 860px 117px #fff, 765px 280px #fff,
        1480px 1321px #fff, 1450px 1620px #fff, 818px 606px #fff,
        274px 1696px #fff, 1687px 482px #fff, -675px 79px #fff,
        1374px 773px #fff, 417px 393px #fff, -1500px 866px #fff,
        -1903px 22px #fff, 1450px 848px #fff, -115px 613px #fff,
        -59px 905px #fff, 116px 1790px #fff, -474px 1803px #fff,
        -1289px 910px #fff, -1235px 427px #fff, 707px 1882px #fff,
        -397px 1144px #fff, 523px 1943px #fff, -830px 1536px #fff,
        -1364px 107px #fff, -745px 155px #fff, -1851px 686px #fff,
        -698px 1336px #fff, 226px 1092px #fff, 1600px 187px #fff,
        -1265px 1983px #fff, -1422px 795px #fff, -1294px 802px #fff,
        1497px 1524px #fff, -59px 834px #fff, 1671px 1970px #fff,
        1932px 93px #fff, 235px 236px #fff, 1122px 992px #fff,
        -575px 1709px #fff, -328px 462px #fff, -1892px 1269px #fff,
        1855px 1894px #fff, -865px 1052px #fff, 1771px 1247px #fff,
        -1977px 1244px #fff, 1546px 1819px #fff, 1500px 1769px #fff,
        -1620px 357px #fff, -328px 408px #fff, -1439px 907px #fff,
        637px 850px #fff, -1424px 413px #fff, 413px 862px #fff,
        -1399px 747px #fff, 758px 199px #fff, 1495px 1733px #fff,
        -278px 379px #fff, -1975px 1385px #fff, 1417px 1872px #fff,
        1437px 454px #fff, -66px 1098px #fff, -497px 834px #fff,
        -1604px 569px #fff, -991px 269px #fff, 568px 1092px #fff,
        -1755px 1631px #fff, 242px 1607px #fff, -1227px 1092px #fff,
        -1386px 662px #fff, 733px 1036px #fff, -118px 1117px #fff,
        1776px 1583px #fff, 107px 80px #fff, -1038px 1881px #fff,
        -622px 1940px #fff, -1544px 688px #fff, -1423px 881px #fff,
        -63px 571px #fff, -1956px 1608px #fff, 1083px 1506px #fff,
        -1676px 405px #fff, -552px 1279px #fff, -181px 143px #fff,
        -1101px 255px #fff, -1009px 1442px #fff, 1375px 1827px #fff,
        -1909px 1098px #fff, -1762px 1980px #fff, 63px 526px #fff,
        677px 1857px #fff, -1892px 1847px #fff, -898px 274px #fff,
        1454px 1556px #fff, -336px 1870px #fff, 1861px 1532px #fff,
        -1000px 74px #fff, -1867px 930px #fff, -830px 1949px #fff,
        -363px 739px #fff, 1230px 1572px #fff, -1682px 811px #fff,
        528px 202px #fff, 1649px 1050px #fff, -120px 337px #fff,
        -1550px 1164px #fff, 1315px 1097px #fff, -798px 742px #fff,
        -858px 201px #fff, -114px 958px #fff, 1962px 1170px #fff,
        1020px 1564px #fff, 1602px 1934px #fff, 1648px 186px #fff,
        663px 881px #fff, 1232px 388px #fff, 1803px 85px #fff, 623px 954px #fff,
        1072px 1721px #fff, 1340px 1315px #fff, 129px 594px #fff,
        969px 317px #fff, 1427px 574px #fff, -924px 55px #fff,
        -1143px 1718px #fff, -424px 885px #fff, 425px 1469px #fff,
        722px 1301px #fff, -1933px 429px #fff, -280px 1265px #fff,
        1648px 1695px #fff, -1955px 1230px #fff, -1550px 554px #fff,
        -459px 730px #fff, -251px 1769px #fff, 1640px 759px #fff,
        -471px 1295px #fff, 476px 1038px #fff, -707px 1631px #fff,
        -850px 80px #fff, -1473px 858px #fff, -771px 251px #fff,
        815px 1695px #fff, 311px 460px #fff, -722px 1277px #fff,
        -564px 1594px #fff, -1290px 1807px #fff, -1445px 1797px #fff,
        163px 244px #fff, 1248px 1904px #fff, 956px 83px #fff, 696px 758px #fff,
        -1600px 259px #fff, 789px 536px #fff, -1575px 1227px #fff,
        -188px 192px #fff, -971px 13px #fff, 380px 1199px #fff,
        1733px 460px #fff, -997px 578px #fff, 1639px 1305px #fff,
        1128px 1831px #fff, -8px 1009px #fff, 701px 782px #fff,
        1521px 1160px #fff, -1695px 1799px #fff, 1465px 108px #fff,
        1530px 1207px #fff, -72px 639px #fff, -1090px 1177px #fff,
        -431px 1473px #fff, -695px 1002px #fff, -813px 1099px #fff,
        -550px 1500px #fff, -1178px 717px #fff, -686px 1042px #fff,
        -581px 508px #fff, -1645px 1710px #fff, 1489px 420px #fff,
        -506px 1773px #fff, 818px 1449px #fff, 316px 149px #fff,
        -1997px 1064px #fff, -1032px 730px #fff, -1844px 1169px #fff,
        -1331px 164px #fff, -1545px 741px #fff, 794px 300px #fff,
        -395px 420px #fff, 1760px 538px #fff, -451px 731px #fff,
        1810px 1867px #fff, -1970px 930px #fff, -175px 1179px #fff,
        -1299px 87px #fff, -1984px 1692px #fff, -97px 603px #fff,
        -775px 933px #fff, 6px 559px #fff, 1635px 946px #fff, 1518px 368px #fff,
        -581px 1108px #fff, -1040px 227px #fff, -1181px 424px #fff,
        1868px 756px #fff, -1814px 604px #fff, -70px 1668px #fff,
        -1648px 761px #fff, -1879px 1367px #fff, -1868px 1807px #fff,
        -1062px 684px #fff, 1687px 1356px #fff, -1967px 552px #fff,
        1010px 677px #fff, 294px 250px #fff, -1988px 1157px #fff,
        838px 666px #fff, -1644px 155px #fff, 307px 83px #fff,
        1238px 1811px #fff, -696px 1203px #fff, 1488px 1682px #fff,
        -1599px 1901px #fff, 542px 659px #fff, 1312px 817px #fff,
        -531px 1013px #fff, -1747px 1582px #fff, -131px 1121px #fff,
        286px 1286px #fff, -539px 1249px #fff, -1429px 1406px #fff,
        -1414px 164px #fff, -648px 103px #fff, -832px 852px #fff,
        1464px 322px #fff, 227px 1387px #fff, -1456px 326px #fff,
        -1018px 638px #fff, 1520px 1341px #fff, 816px 1209px #fff,
        -126px 255px #fff, -648px 1405px #fff, 298px 1802px #fff,
        1491px 14px #fff, 650px 471px #fff, 196px 1668px #fff, 660px 1978px #fff,
        -1564px 987px #fff, 1012px 1413px #fff, -1539px 389px #fff,
        284px 1423px #fff, 1701px 134px #fff, -720px 1654px #fff,
        1218px 1632px #fff, 1339px 870px #fff, 1500px 819px #fff;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1407px 786px #fff, 121px 918px #fff, -437px 854px #fff,
        -1556px 1312px #fff, 1642px 317px #fff, 524px 1879px #fff,
        -751px 1610px #fff, 333px 1099px #fff, -378px 1510px #fff,
        -1545px 1498px #fff, 1150px 68px #fff, 1970px 978px #fff,
        86px 1598px #fff, 112px 1297px #fff, -1430px 150px #fff,
        1913px 268px #fff, 1792px 1986px #fff, -842px 1305px #fff,
        -648px 1826px #fff, 382px 221px #fff, -723px 312px #fff,
        329px 1344px #fff, 618px 267px #fff, 1014px 1493px #fff,
        944px 731px #fff, -1379px 1810px #fff, -1389px 1725px #fff,
        -119px 886px #fff, 962px 433px #fff, -1468px 169px #fff, 52px 550px #fff,
        -1897px 1302px #fff, 1629px 979px #fff, 949px 1762px #fff,
        -1617px 522px #fff, -810px 1339px #fff, 789px 1807px #fff,
        610px 290px #fff, -593px 462px #fff, -809px 1059px #fff,
        648px 1535px #fff, 1887px 669px #fff, 934px 1293px #fff,
        1658px 91px #fff, 1152px 1971px #fff, -560px 1185px #fff,
        -277px 1949px #fff, 439px 1219px #fff, -1313px 213px #fff,
        -1404px 1932px #fff, 1245px 1219px #fff, 1125px 1825px #fff,
        -1804px 838px #fff, 1681px 571px #fff, -1958px 1909px #fff,
        599px 815px #fff, 574px 1944px #fff, 1599px 1220px #fff,
        -539px 21px #fff, -1031px 1806px #fff, 1954px 1869px #fff,
        1140px 1050px #fff, 1598px 336px #fff, -1409px 689px #fff,
        1689px 470px #fff, 496px 1163px #fff, -787px 1357px #fff,
        -1789px 1308px #fff, -44px 1680px #fff, 629px 510px #fff,
        -1569px 88px #fff, 1528px 129px #fff, 1287px 56px #fff,
        823px 1614px #fff, -1400px 941px #fff, -834px 1202px #fff,
        1972px 216px #fff, -970px 1944px #fff, 669px 1129px #fff,
        -1303px 66px #fff, -431px 1801px #fff, -1079px 1615px #fff,
        -1018px 178px #fff, -605px 209px #fff, 1566px 909px #fff,
        -948px 585px #fff, 933px 41px #fff, -1906px 601px #fff,
        1103px 213px #fff, 535px 916px #fff, -1790px 1159px #fff,
        -1917px 1825px #fff, -646px 1764px #fff, -1044px 1787px #fff,
        -347px 1612px #fff, 1413px 21px #fff, 124px 757px #fff, 375px 836px #fff,
        1909px 267px #fff, 1864px 851px #fff, 1868px 1018px #fff,
        -8px 1784px #fff, -1286px 1453px #fff, -647px 1855px #fff,
        1189px 257px #fff, -1058px 162px #fff, -24px 1993px #fff,
        -1240px 1262px #fff, -1674px 633px #fff, 1018px 1496px #fff,
        -339px 106px #fff, -591px 970px #fff, 223px 175px #fff,
        -222px 1562px #fff, 317px 893px #fff, -809px 35px #fff,
        801px 1881px #fff, 456px 313px #fff, -754px 429px #fff, 340px 859px #fff,
        -1708px 1484px #fff, -1754px 850px #fff, 334px 281px #fff,
        1224px 375px #fff, 1936px 469px #fff, -1901px 904px #fff,
        516px 911px #fff, 677px 1952px #fff, 642px 721px #fff,
        -1346px 408px #fff, -1448px 860px #fff, 660px 1582px #fff,
        -1025px 927px #fff, -1558px 318px #fff, 1788px 184px #fff,
        1091px 1135px #fff, 698px 254px #fff, -1056px 1283px #fff,
        999px 1712px #fff, -1524px 526px #fff, -929px 1816px #fff,
        -1757px 791px #fff, -1947px 1437px #fff, -308px 1745px #fff,
        -1908px 763px #fff, 566px 1723px #fff, -1162px 322px #fff,
        1458px 1588px #fff, 980px 257px #fff, -129px 1654px #fff,
        1361px 1261px #fff, 1895px 891px #fff, 414px 407px #fff,
        216px 1205px #fff, -1006px 1851px #fff, 770px 1927px #fff,
        -498px 286px #fff, 491px 1679px #fff, -1094px 1495px #fff,
        -1295px 1784px #fff, 1344px 458px #fff, 1684px 466px #fff,
        -965px 790px #fff, -1519px 1815px #fff, 59px 806px #fff,
        -763px 463px #fff, -485px 1126px #fff, -1738px 955px #fff,
        221px 121px #fff, -1420px 751px #fff, -777px 1493px #fff,
        1878px 1230px #fff, 697px 1284px #fff, 1693px 506px #fff,
        286px 1650px #fff, 418px 707px #fff, -1492px 918px #fff,
        -1015px 498px #fff, -191px 1796px #fff, 606px 1035px #fff,
        560px 668px #fff, 384px 596px #fff, -580px 288px #fff, 520px 1207px #fff,
        -352px 885px #fff, 111px 524px #fff, 278px 1283px #fff,
        882px 1403px #fff, 1263px 1952px #fff, 1506px 1492px #fff,
        -892px 1211px #fff, -419px 151px #fff, 122px 79px #fff,
        -1346px 1244px #fff, 1198px 1575px #fff, 1834px 1854px #fff,
        555px 1689px #fff, 980px 1435px #fff, -852px 1197px #fff,
        1323px 1730px #fff;
    animation: animStar 150s linear infinite;
}
#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1407px 786px #fff, 121px 918px #fff, -437px 854px #fff,
        -1556px 1312px #fff, 1642px 317px #fff, 524px 1879px #fff,
        -751px 1610px #fff, 333px 1099px #fff, -378px 1510px #fff,
        -1545px 1498px #fff, 1150px 68px #fff, 1970px 978px #fff,
        86px 1598px #fff, 112px 1297px #fff, -1430px 150px #fff,
        1913px 268px #fff, 1792px 1986px #fff, -842px 1305px #fff,
        -648px 1826px #fff, 382px 221px #fff, -723px 312px #fff,
        329px 1344px #fff, 618px 267px #fff, 1014px 1493px #fff,
        944px 731px #fff, -1379px 1810px #fff, -1389px 1725px #fff,
        -119px 886px #fff, 962px 433px #fff, -1468px 169px #fff, 52px 550px #fff,
        -1897px 1302px #fff, 1629px 979px #fff, 949px 1762px #fff,
        -1617px 522px #fff, -810px 1339px #fff, 789px 1807px #fff,
        610px 290px #fff, -593px 462px #fff, -809px 1059px #fff,
        648px 1535px #fff, 1887px 669px #fff, 934px 1293px #fff,
        1658px 91px #fff, 1152px 1971px #fff, -560px 1185px #fff,
        -277px 1949px #fff, 439px 1219px #fff, -1313px 213px #fff,
        -1404px 1932px #fff, 1245px 1219px #fff, 1125px 1825px #fff,
        -1804px 838px #fff, 1681px 571px #fff, -1958px 1909px #fff,
        599px 815px #fff, 574px 1944px #fff, 1599px 1220px #fff,
        -539px 21px #fff, -1031px 1806px #fff, 1954px 1869px #fff,
        1140px 1050px #fff, 1598px 336px #fff, -1409px 689px #fff,
        1689px 470px #fff, 496px 1163px #fff, -787px 1357px #fff,
        -1789px 1308px #fff, -44px 1680px #fff, 629px 510px #fff,
        -1569px 88px #fff, 1528px 129px #fff, 1287px 56px #fff,
        823px 1614px #fff, -1400px 941px #fff, -834px 1202px #fff,
        1972px 216px #fff, -970px 1944px #fff, 669px 1129px #fff,
        -1303px 66px #fff, -431px 1801px #fff, -1079px 1615px #fff,
        -1018px 178px #fff, -605px 209px #fff, 1566px 909px #fff,
        -948px 585px #fff, 933px 41px #fff, -1906px 601px #fff,
        1103px 213px #fff, 535px 916px #fff, -1790px 1159px #fff,
        -1917px 1825px #fff, -646px 1764px #fff, -1044px 1787px #fff,
        -347px 1612px #fff, 1413px 21px #fff, 124px 757px #fff, 375px 836px #fff,
        1909px 267px #fff, 1864px 851px #fff, 1868px 1018px #fff,
        -8px 1784px #fff, -1286px 1453px #fff, -647px 1855px #fff,
        1189px 257px #fff, -1058px 162px #fff, -24px 1993px #fff,
        -1240px 1262px #fff, -1674px 633px #fff, 1018px 1496px #fff,
        -339px 106px #fff, -591px 970px #fff, 223px 175px #fff,
        -222px 1562px #fff, 317px 893px #fff, -809px 35px #fff,
        801px 1881px #fff, 456px 313px #fff, -754px 429px #fff, 340px 859px #fff,
        -1708px 1484px #fff, -1754px 850px #fff, 334px 281px #fff,
        1224px 375px #fff, 1936px 469px #fff, -1901px 904px #fff,
        516px 911px #fff, 677px 1952px #fff, 642px 721px #fff,
        -1346px 408px #fff, -1448px 860px #fff, 660px 1582px #fff,
        -1025px 927px #fff, -1558px 318px #fff, 1788px 184px #fff,
        1091px 1135px #fff, 698px 254px #fff, -1056px 1283px #fff,
        999px 1712px #fff, -1524px 526px #fff, -929px 1816px #fff,
        -1757px 791px #fff, -1947px 1437px #fff, -308px 1745px #fff,
        -1908px 763px #fff, 566px 1723px #fff, -1162px 322px #fff,
        1458px 1588px #fff, 980px 257px #fff, -129px 1654px #fff,
        1361px 1261px #fff, 1895px 891px #fff, 414px 407px #fff,
        216px 1205px #fff, -1006px 1851px #fff, 770px 1927px #fff,
        -498px 286px #fff, 491px 1679px #fff, -1094px 1495px #fff,
        -1295px 1784px #fff, 1344px 458px #fff, 1684px 466px #fff,
        -965px 790px #fff, -1519px 1815px #fff, 59px 806px #fff,
        -763px 463px #fff, -485px 1126px #fff, -1738px 955px #fff,
        221px 121px #fff, -1420px 751px #fff, -777px 1493px #fff,
        1878px 1230px #fff, 697px 1284px #fff, 1693px 506px #fff,
        286px 1650px #fff, 418px 707px #fff, -1492px 918px #fff,
        -1015px 498px #fff, -191px 1796px #fff, 606px 1035px #fff,
        560px 668px #fff, 384px 596px #fff, -580px 288px #fff, 520px 1207px #fff,
        -352px 885px #fff, 111px 524px #fff, 278px 1283px #fff,
        882px 1403px #fff, 1263px 1952px #fff, 1506px 1492px #fff,
        -892px 1211px #fff, -419px 151px #fff, 122px 79px #fff,
        -1346px 1244px #fff, 1198px 1575px #fff, 1834px 1854px #fff,
        555px 1689px #fff, 980px 1435px #fff, -852px 1197px #fff,
        1323px 1730px #fff;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1508px 1186px #fff, 207px 915px #fff, 467px 1345px #fff,
        -1141px 184px #fff, -299px 1358px #fff, -202px 1598px #fff,
        1216px 1496px #fff, 1579px 1367px #fff, -1798px 609px #fff,
        1617px 941px #fff, -1667px 509px #fff, 489px 395px #fff,
        491px 1220px #fff, -841px 1024px #fff, -1937px 416px #fff,
        1352px 1749px #fff, -955px 1792px #fff, -1095px 1974px #fff,
        1287px 1385px #fff, -713px 177px #fff, -1479px 1508px #fff,
        -1949px 1217px #fff, -1302px 249px #fff, 409px 793px #fff,
        -1433px 1241px #fff, 475px 1836px #fff, 1671px 347px #fff,
        1435px 518px #fff, 1125px 37px #fff, 184px 1869px #fff,
        1399px 1012px #fff, -1495px 1492px #fff, 1098px 633px #fff,
        -1423px 358px #fff, 1516px 1679px #fff, -1970px 715px #fff,
        454px 903px #fff, 1071px 167px #fff, 501px 124px #fff,
        -125px 1589px #fff, 283px 351px #fff, 136px 1975px #fff,
        -12px 668px #fff, -1562px 1998px #fff, -1473px 1451px #fff,
        -981px 1009px #fff, -1138px 1587px #fff, -1487px 1209px #fff,
        713px 194px #fff, -775px 870px #fff, -877px 1967px #fff,
        1280px 1012px #fff, 36px 1339px #fff, -1470px 671px #fff,
        -938px 1252px #fff, 241px 742px #fff, 1555px 1807px #fff,
        650px 1386px #fff, -1320px 772px #fff, 1290px 181px #fff,
        276px 765px #fff, 789px 464px #fff, -1605px 508px #fff, 722px 114px #fff,
        -1419px 1076px #fff, 334px 1857px #fff, -1889px 1135px #fff,
        -1324px 407px #fff, -1795px 1467px #fff, 1511px 1337px #fff,
        365px 943px #fff, 1493px 1190px #fff, 1316px 1136px #fff,
        397px 714px #fff, 1390px 1526px #fff, 1828px 195px #fff,
        -929px 1708px #fff, -1336px 1253px #fff, 1467px 154px #fff,
        539px 415px #fff, -1933px 1025px #fff, 1938px 1135px #fff,
        -255px 1808px #fff, 40px 138px #fff, 1341px 627px #fff,
        -1856px 1330px #fff, -484px 889px #fff, 376px 1796px #fff,
        -1481px 1126px #fff, -699px 934px #fff, -295px 1374px #fff,
        1894px 1854px #fff, -937px 1913px #fff, -1392px 1709px #fff,
        -1443px 141px #fff, 1353px 1177px #fff, -1692px 1481px #fff,
        1908px 1662px #fff, 1131px 1401px #fff, 948px 805px #fff;
    animation: animStar 300s linear infinite;
}
#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1508px 1186px #fff, 207px 915px #fff, 467px 1345px #fff,
        -1141px 184px #fff, -299px 1358px #fff, -202px 1598px #fff,
        1216px 1496px #fff, 1579px 1367px #fff, -1798px 609px #fff,
        1617px 941px #fff, -1667px 509px #fff, 489px 395px #fff,
        491px 1220px #fff, -841px 1024px #fff, -1937px 416px #fff,
        1352px 1749px #fff, -955px 1792px #fff, -1095px 1974px #fff,
        1287px 1385px #fff, -713px 177px #fff, -1479px 1508px #fff,
        -1949px 1217px #fff, -1302px 249px #fff, 409px 793px #fff,
        -1433px 1241px #fff, 475px 1836px #fff, 1671px 347px #fff,
        1435px 518px #fff, 1125px 37px #fff, 184px 1869px #fff,
        1399px 1012px #fff, -1495px 1492px #fff, 1098px 633px #fff,
        -1423px 358px #fff, 1516px 1679px #fff, -1970px 715px #fff,
        454px 903px #fff, 1071px 167px #fff, 501px 124px #fff,
        -125px 1589px #fff, 283px 351px #fff, 136px 1975px #fff,
        -12px 668px #fff, -1562px 1998px #fff, -1473px 1451px #fff,
        -981px 1009px #fff, -1138px 1587px #fff, -1487px 1209px #fff,
        713px 194px #fff, -775px 870px #fff, -877px 1967px #fff,
        1280px 1012px #fff, 36px 1339px #fff, -1470px 671px #fff,
        -938px 1252px #fff, 241px 742px #fff, 1555px 1807px #fff,
        650px 1386px #fff, -1320px 772px #fff, 1290px 181px #fff,
        276px 765px #fff, 789px 464px #fff, -1605px 508px #fff, 722px 114px #fff,
        -1419px 1076px #fff, 334px 1857px #fff, -1889px 1135px #fff,
        -1324px 407px #fff, -1795px 1467px #fff, 1511px 1337px #fff,
        365px 943px #fff, 1493px 1190px #fff, 1316px 1136px #fff,
        397px 714px #fff, 1390px 1526px #fff, 1828px 195px #fff,
        -929px 1708px #fff, -1336px 1253px #fff, 1467px 154px #fff,
        539px 415px #fff, -1933px 1025px #fff, 1938px 1135px #fff,
        -255px 1808px #fff, 40px 138px #fff, 1341px 627px #fff,
        -1856px 1330px #fff, -484px 889px #fff, 376px 1796px #fff,
        -1481px 1126px #fff, -699px 934px #fff, -295px 1374px #fff,
        1894px 1854px #fff, -937px 1913px #fff, -1392px 1709px #fff,
        -1443px 141px #fff, 1353px 1177px #fff, -1692px 1481px #fff,
        1908px 1662px #fff, 1131px 1401px #fff, 948px 805px #fff;
}

#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}
#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animStar {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(2000px, -2000px);
    }
}
